!.mvn/wrapper/maven-wrapper.jar
*.plantuml
target

*.versionsBackup

*.releaseBackup
release.properties

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

bin
.classpath
.project
.settings

.idea
*.iws
*.iml
*.ipr
.idea/
**/*.iml

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

report.html
*.log
*~
activate
node-api-test

helm/*/charts
helm/*/requirements.lock

/out/
